/* @media(width>768px){
    body{
        width: 100vw;
    }
    .cont{
        width: auto;
    padding: 0;
   
    }
    main{
        width: 660px;
        height: 814px;
        border: 1px solid red;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 32px;
      
    }
    header{
        width: 540px;
        height: 158px;
        margin-top: 80px;
        margin-left: 60px;
    }
    .midbox{
        width: 660px;
        height: 250px;
        gap: 32px;
        display: flex;
        flex-direction: row;
    }
    .card1, .card4{
        margin-left: 173px;
    
    }
   

} */